@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');

:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desaturated-blue: hsl(238, 22%, 44%);

  --accent-bright-blue: hsl(224, 93%, 58%);
  --accent-moderate-cyan: hsl(170, 45%, 43%);

  --neutral-light-gray-blue: hsl(240, 75%, 98%);
  --neutral-light-gray: hsl(0, 0%, 75%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop/Tablet Design */
@media only screen and (min-width: 768px) {
}
